.btn {
  border-width: 2px;
}
body {
  font-family: Epilogue;
}
.display-1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 3.2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4rem;
}
.display-4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Kanit', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.2rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.8rem 1.8rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #005af0 !important;
}
.bg-success {
  background-color: #64bf46 !important;
}
.bg-info {
  background-color: #e31634 !important;
}
.bg-warning {
  background-color: #ffaa40 !important;
}
.bg-danger {
  background-color: #cccccc !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #005af0 !important;
  border-color: #005af0 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #003999 !important;
  border-color: #003999 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #003999 !important;
  border-color: #003999 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #30c7bf !important;
  border-color: #30c7bf !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #1f817c !important;
  border-color: #1f817c !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1f817c !important;
  border-color: #1f817c !important;
}
.btn-info,
.btn-info:active {
  background-color: #e31634 !important;
  border-color: #e31634 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #940e22 !important;
  border-color: #940e22 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #940e22 !important;
  border-color: #940e22 !important;
}
.btn-success,
.btn-success:active {
  background-color: #64bf46 !important;
  border-color: #64bf46 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #42812d !important;
  border-color: #42812d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #42812d !important;
  border-color: #42812d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffaa40 !important;
  border-color: #ffaa40 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #e88100 !important;
  border-color: #e88100 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e88100 !important;
  border-color: #e88100 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #4d4d4d !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #a1a1a1 !important;
  border-color: #a1a1a1 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #4d4d4d !important;
  background-color: #a1a1a1 !important;
  border-color: #a1a1a1 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #005af0;
  color: #005af0;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background-color: #005af0 !important;
  border-color: #005af0 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #005af0 !important;
  border-color: #005af0 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #30c7bf;
  color: #30c7bf;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background-color: #30c7bf !important;
  border-color: #30c7bf !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #30c7bf !important;
  border-color: #30c7bf !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #e31634;
  color: #e31634;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background-color: #e31634 !important;
  border-color: #e31634 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e31634 !important;
  border-color: #e31634 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #64bf46;
  color: #64bf46;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background-color: #64bf46 !important;
  border-color: #64bf46 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #64bf46 !important;
  border-color: #64bf46 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffaa40;
  color: #ffaa40;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff !important;
  background-color: #ffaa40 !important;
  border-color: #ffaa40 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffaa40 !important;
  border-color: #ffaa40 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #4d4d4d !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #4d4d4d !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #005af0 !important;
}
.text-secondary {
  color: #30c7bf !important;
}
.text-success {
  color: #64bf46 !important;
}
.text-info {
  color: #e31634 !important;
}
.text-warning {
  color: #ffaa40 !important;
}
.text-danger {
  color: #cccccc !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #00348a !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #1c7570 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #3c7629 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #860d1f !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #d97800 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #999999 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #005af0;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #e31634;
}
.alert-warning {
  background-color: #ffaa40;
}
.alert-danger {
  background-color: #cccccc;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #005af0;
  border-color: #005af0;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #005af0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #bdd6ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b3e0a5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #facbd2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #005af0 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #005af0;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #005af0;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #005af0;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #005af0;
  border-bottom-color: #005af0;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #005af0 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #30c7bf !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23005af0' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tD6dmnda6z {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/parejas-108-512x512.webp");
}
.cid-tD6dmnda6z .mbr-fallback-image.disabled {
  display: none;
}
.cid-tD6dmnda6z .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tD6dmnda6z img {
  object-fit: cover;
  width: 300px;
  margin: 0 auto;
  height: 300px;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .cid-tD6dmnda6z img {
    width: 200px;
    height: 200px;
  }
}
.cid-tD6dmnda6z a {
  text-decoration: underline;
  font-weight: bold;
}
.cid-tD6dmnda6z .mbr-text,
.cid-tD6dmnda6z .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tD6dcgeCWZ {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tD6dcgeCWZ img {
  object-fit: cover;
  width: 90%;
}
@media (max-width: 992px) {
  .cid-tD6dcgeCWZ img {
    width: 100%;
  }
}
.cid-tD6dcgeCWZ .mbr-section-subtitle {
  color: #e31634;
  text-align: center;
}
.cid-tD6dcgeCWZ .mbr-text,
.cid-tD6dcgeCWZ .mbr-section-btn {
  color: #fffaee;
  text-align: center;
}
.cid-tD6cYuYhof {
  padding-top: 75px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/amor-69-512x512.webp");
  background-size: calc(50% - 1rem);
  background-position: right;
  background-color: #000000;
}
@media (max-width: 992px) {
  .cid-tD6cYuYhof {
    background-size: cover;
    background-position: center;
  }
}
.cid-tD6cYuYhof .mbr-section-title {
  color: #e31634;
}
.cid-tD6cYuYhof .mbr-text,
.cid-tD6cYuYhof .mbr-section-btn {
  color: #ffffff;
}
.cid-tD6d91ymXX {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tD6d91ymXX .link {
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.cid-tD6d91ymXX .link .mbr-iconfont {
  font-size: 16px;
  width: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
.cid-tD6d91ymXX .link:hover {
  transform: translatex(10px);
}
.cid-tD6d91ymXX .card {
  margin-bottom: 4rem;
}
.cid-tD6d91ymXX img {
  height: 200px;
  object-fit: cover;
}
.cid-tD6d91ymXX .mbr-section-miantitle {
  color: #ffffff;
}
.cid-tD6d91ymXX .mbr-section-title {
  color: #ffffff;
}
.cid-tHugLfT1Bz {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tHugLfT1Bz img {
  object-fit: cover;
  width: 90%;
}
@media (max-width: 992px) {
  .cid-tHugLfT1Bz img {
    width: 100%;
  }
}
.cid-tHugLfT1Bz .mbr-section-subtitle {
  color: #e31634;
  text-align: center;
}
.cid-tHugLfT1Bz .mbr-text,
.cid-tHugLfT1Bz .mbr-section-btn {
  color: #fffaee;
  text-align: center;
}
.cid-tHuQgNQKwP {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tHuQgNQKwP img {
  object-fit: cover;
  width: 90%;
}
@media (max-width: 992px) {
  .cid-tHuQgNQKwP img {
    width: 100%;
  }
}
.cid-tHuQgNQKwP .mbr-section-subtitle {
  color: #e31634;
  text-align: center;
}
.cid-tHuQgNQKwP .mbr-text,
.cid-tHuQgNQKwP .mbr-section-btn {
  color: #fffaee;
  text-align: center;
}
.cid-tHuQgO9QwJ {
  padding-top: 75px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/pactos-194-480x600.webp");
  background-size: calc(50% - 1rem);
  background-position: right;
  background-color: #000000;
}
@media (max-width: 992px) {
  .cid-tHuQgO9QwJ {
    background-size: cover;
    background-position: center;
  }
}
.cid-tHuQgO9QwJ .mbr-section-title {
  color: #e31634;
}
.cid-tHuQgO9QwJ .mbr-text,
.cid-tHuQgO9QwJ .mbr-section-btn {
  color: #ffffff;
}
.cid-tHuQgOkyyZ {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tHuQgOkyyZ .link {
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.cid-tHuQgOkyyZ .link .mbr-iconfont {
  font-size: 16px;
  width: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
.cid-tHuQgOkyyZ .link:hover {
  transform: translatex(10px);
}
.cid-tHuQgOkyyZ .card {
  margin-bottom: 4rem;
}
.cid-tHuQgOkyyZ img {
  height: 200px;
  object-fit: cover;
}
.cid-tHuQgOkyyZ .mbr-section-miantitle {
  color: #ffffff;
}
.cid-tHuQgOkyyZ .mbr-section-title {
  color: #ffffff;
}
.cid-tHuQgOCPIn {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/pactos-270-512x512.webp");
}
.cid-tHuQgOCPIn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHuQgOCPIn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHuQgOCPIn img {
  object-fit: cover;
  width: 300px;
  margin: 0 auto;
  height: 300px;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .cid-tHuQgOCPIn img {
    width: 200px;
    height: 200px;
  }
}
.cid-tHuQgOCPIn a {
  text-decoration: underline;
  font-weight: bold;
}
.cid-tHuQgOCPIn .mbr-text,
.cid-tHuQgOCPIn .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tHuQgOCPIn .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-tHuQgOMBSG {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tHuQgOMBSG img {
  object-fit: cover;
  width: 90%;
}
@media (max-width: 992px) {
  .cid-tHuQgOMBSG img {
    width: 100%;
  }
}
.cid-tHuQgOMBSG .mbr-section-subtitle {
  color: #e31634;
  text-align: center;
}
.cid-tHuQgOMBSG .mbr-text,
.cid-tHuQgOMBSG .mbr-section-btn {
  color: #fffaee;
  text-align: center;
}
.cid-tHv1LVhumM {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/pactos-179-512x512.webp");
}
.cid-tHv1LVhumM img {
  object-fit: cover;
  width: 90%;
}
@media (max-width: 992px) {
  .cid-tHv1LVhumM img {
    width: 100%;
  }
}
.cid-tHv1LVhumM .mbr-section-subtitle {
  color: #e31634;
  text-align: center;
}
.cid-tHv1LVhumM .mbr-text,
.cid-tHv1LVhumM .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tHv4JjY8Gv {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tHv4JjY8Gv img {
  object-fit: cover;
  width: 90%;
}
@media (max-width: 992px) {
  .cid-tHv4JjY8Gv img {
    width: 100%;
  }
}
.cid-tHv4JjY8Gv .mbr-section-subtitle {
  color: #e31634;
  text-align: center;
}
.cid-tHv4JjY8Gv .mbr-text,
.cid-tHv4JjY8Gv .mbr-section-btn {
  color: #fffaee;
  text-align: center;
}
.cid-tHv4Jklwcn {
  padding-top: 75px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/limpias-164-512x512.webp");
  background-size: calc(50% - 1rem);
  background-position: right;
  background-color: #000000;
}
@media (max-width: 992px) {
  .cid-tHv4Jklwcn {
    background-size: cover;
    background-position: center;
  }
}
.cid-tHv4Jklwcn .mbr-section-title {
  color: #e31634;
}
.cid-tHv4Jklwcn .mbr-text,
.cid-tHv4Jklwcn .mbr-section-btn {
  color: #000000;
}
.cid-tHv4JkwLjs {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tHv4JkwLjs .link {
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.cid-tHv4JkwLjs .link .mbr-iconfont {
  font-size: 16px;
  width: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
.cid-tHv4JkwLjs .link:hover {
  transform: translatex(10px);
}
.cid-tHv4JkwLjs .card {
  margin-bottom: 4rem;
}
.cid-tHv4JkwLjs img {
  height: 200px;
  object-fit: cover;
}
.cid-tHv4JkwLjs .mbr-section-miantitle {
  color: #ffffff;
}
.cid-tHv4JkwLjs .mbr-section-title {
  color: #ffffff;
}
.cid-tHv4JkO4gO {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/limpias-56-512x512.webp");
}
.cid-tHv4JkO4gO .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHv4JkO4gO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHv4JkO4gO img {
  object-fit: cover;
  width: 300px;
  margin: 0 auto;
  height: 300px;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .cid-tHv4JkO4gO img {
    width: 200px;
    height: 200px;
  }
}
.cid-tHv4JkO4gO a {
  text-decoration: underline;
  font-weight: bold;
}
.cid-tHv4JkO4gO .mbr-text,
.cid-tHv4JkO4gO .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tHv4JkO4gO .mbr-section-title {
  color: #3e83f8;
  text-align: center;
}
.cid-tHv4JlaVkn {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tHv4JlaVkn img {
  object-fit: cover;
  width: 90%;
}
@media (max-width: 992px) {
  .cid-tHv4JlaVkn img {
    width: 100%;
  }
}
.cid-tHv4JlaVkn .mbr-section-subtitle {
  color: #e31634;
  text-align: center;
}
.cid-tHv4JlaVkn .mbr-text,
.cid-tHv4JlaVkn .mbr-section-btn {
  color: #fffaee;
  text-align: center;
}
.cid-tHzIMhyf5X {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tHzIMhyf5X .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHzIMhyf5X .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHzIMhyf5X img {
  object-fit: cover;
  width: 300px;
  margin: 0 auto;
  height: 300px;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .cid-tHzIMhyf5X img {
    width: 200px;
    height: 200px;
  }
}
.cid-tHzIMhyf5X a {
  text-decoration: underline;
  font-weight: bold;
}
.cid-tHzIMhyf5X .mbr-text,
.cid-tHzIMhyf5X .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tHzIMhyf5X .mbr-section-title {
  color: #3e83f8;
  text-align: center;
}
.cid-tHv4JlunLw {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/copia-de-limpias-42-512x512.webp");
}
.cid-tHv4JlunLw img {
  object-fit: cover;
  width: 90%;
}
@media (max-width: 992px) {
  .cid-tHv4JlunLw img {
    width: 100%;
  }
}
.cid-tHv4JlunLw .mbr-section-subtitle {
  color: #e31634;
  text-align: center;
}
.cid-tHv4JlunLw .mbr-text,
.cid-tHv4JlunLw .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
